.button-dark{
    padding: 12px 30px;
    background-color: $button-color;
    border:1px solid $button-color;
    color:$white-color;
    border-radius: 2px;
    margin:10px 0; 
    cursor: pointer;
    transition: all 0.2s;

    &:hover,&:focus{
        background-color: #666;
        border-color:#666;
    }

    &:disabled{
        cursor: not-allowed;
    }
}